[submodule "api"]
	path = api
	url = https://github.com/micio86dev/backend.git
	branch = develop
[submodule "frontend"]
	path = frontend
	url = https://github.com/micio86dev/frontend.git
	branch = develop
[submodule "backoffice"]
	path = backoffice
	url = https://github.com/micio86dev/backoffice.git
	branch = develop
